<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <header id="hdrPageTitle">
    </header>

    <aside>
        <ul id="ulNewsTitleList">
        </ul>
    </aside>

    <main id="mainContent">
        <div class="card text-center">
            <div class="card-header">
            </div>
            <div id="breaking-news" class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
            </div>

            <div class="card-footer text-muted">
            </div>
        </div>
    </main>

    <footer>
        <p>Copyright &copy; <span id="spanCopyingYear"></span> FMSoft</p>
    </footer>

</body>
</html>

